fastapi~=0.95.1
uvicorn~=0.22.0
arxiv~=1.4.7
InstructorEmbedding~=1.0.0
torch~=2.0.0
numpy~=1.24.3
tqdm~=4.65.0
sentence-transformers~=2.2.2
langchain~=0.0.161
tiktoken~=0.3.3
modal-client~=0.49.2130
python-dotenv~=1.0.0
openai~=0.27.6
faiss-cpu~=1.7.4